In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("/home/shigilsasi/code/Guvi_Projects/Swiggy_Restauraent_Recommendation_System/swiggy.csv")
df.head()

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [3]:
df.duplicated().sum()

np.int64(0)

In [4]:
df.shape

(148541, 11)

In [5]:
df.isnull().sum()

id                0
name             86
city              0
rating           86
rating_count     86
cost            131
cuisine          99
lic_no          229
link              0
address          86
menu              0
dtype: int64

In [6]:
df[df.isnull().any(axis=1)]

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
795,301904,SHAKE IT BABY,Agra,--,Too Few Ratings,₹ 200,"Italian,Beverages",NaN,https://www.swiggy.com/restaurants/shake-it-ba...,"SHAKE IT BABY, M/S SHAKE IT BABY SHOP NO-6 SUR...",Menu/301904.json
1299,358634,Meal Factory - By The Healthy Stove,"Vastrapur,Ahmedabad",--,Too Few Ratings,₹ 300,Indian,NaN,https://www.swiggy.com/restaurants/meal-factor...,"Meal Factory - By The Healthy Stove, 'The Heal...",Menu/358634.json
1303,77532,Shiv Shakti Kathiyawadi,"Vastrapur,Ahmedabad",4.1,100+ ratings,₹ 300,Indian,NaN,https://www.swiggy.com/restaurants/shiv-shakti...,"Shiv Shakti Kathiyawadi, 23-24, Ground Floor, ...",Menu/77532.json
4242,93703,Tomato'S,"Chandkheda,Ahmedabad",4.3,100+ ratings,₹ 800,"Mexican,North Indian",NaN,https://www.swiggy.com/restaurants/tomatos-mot...,"Tomato'S, Ground Floor, Shop No. 1, Dwarkesh B...",Menu/93703.json
4966,132295,Chinese Hut,Akola,3.7,50+ ratings,NaN,Chinese,21518145000592,https://www.swiggy.com/restaurants/chinese-hut...,"Chinese Hut, Sindhi Colony, Akola, Maharashtra...",Menu/132295.json
...,...,...,...,...,...,...,...,...,...,...,...
147127,246351,WRAP IT - Eat Yummmm!,"Gajuwaka,Vizag",4.1,500+ ratings,₹ 190,"Mexican,Fast Food",NaN,https://www.swiggy.com/restaurants/wrap-it-eat...,"WRAP IT - Eat Yummmm!, Door 16-246, Kitchen 1,...",Menu/246351.json
147169,66873,Friends Tandoori Point,"Gajuwaka,Vizag",--,Too Few Ratings,₹ 200,"Indian,Tandoor",NaN,https://www.swiggy.com/restaurants/friends-tan...,"Friends Tandoori Point, Chaitanya Nagar, Gajuw...",Menu/66873.json
147872,425369,THE KURTOS,"Dwarka Nagar,Vizag",2.9,20+ ratings,₹ 250,NaN,10121028000339,https://www.swiggy.com/restaurants/the-kurtos-...,"THE KURTOS, 10-50-24, SIRIPURAM CIR, OPP. HSBC...",Menu/425369.json
147930,425304,The Fritter Fries,"Dwarka Nagar,Vizag",3.7,20+ ratings,₹ 250,NaN,10121028000339,https://www.swiggy.com/restaurants/the-fritter...,"The Fritter Fries, 10-50-24, Siripuram Cir, op...",Menu/425304.json
148271,148773,Hashtag Cafe,Wardha,--,Too Few Ratings,NaN,"Snacks,Continental",21519268000319,https://www.swiggy.com/restaurants/hashtag-caf...,"Hashtag Cafe, opp. Main city police station, n...",Menu/148773.json

In [8]:
df = df[df.notnull().all(axis=1)]

In [9]:
df.shape

(148255, 11)

In [11]:
df.isna().sum()

id              0
name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         0
lic_no          0
link            0
address         0
menu            0
dtype: int64